<?xml version="1.0" encoding="utf-8"?>

<launch>
	<arg name="camera_enable" default="true"/>
	<arg name="result_display" default="true"/>
	<arg name="result_autosize" default="false"/>
	<arg name="result_draw_markers" default="false" />
	<arg name="result_draw_markers_cube" default="false" />
	<arg name="result_draw_markers_axis" default="false" />

	<arg name="uid" default=""/>
	<arg name="video_namespace" default="/prep/cam"/>
	<arg name="video_image_topic" default="image_rect"/>
	<arg name="video_info_topic" default="camera_info"/>
	<arg name="video_rectified" default="true" />

  <arg name="boards_config" default="$(find tud_momana)/markers/aruco/ground_robots/boards.yml" />
  <arg name="boards_directory" default="$(find tud_momana)/markers/aruco/ground_robots" />

	<group if="$(arg camera_enable)">

		<node name="cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
	    <param name="video_device" value="/dev/video0" />
	    <param name="framerate" value="25"/>
	    <param name="pixel_format" value="yuyv" />
	    <param name="image_width" value="720" />
	    <param name="image_height" value="576" />
	    <param name="camera_frame_id" value="cam" />
	    <param name="camera_name" value= "cam"/>
      <!--param name="camera_info_url" value= "file:///localhome/racuna/.ros/camera_info/cam.yaml"/-->
	  </node>


    <node ns="/prep" pkg="tud_img_prep" type="img_prep" name="img_prep" output="screen">
      <param name="camera_namespace" value="/cam" />
      <param name="image" value="image_raw" />
	  </node>

    <node ns="/prep/cam" pkg="image_proc" type="image_proc" name="image_proc$(arg uid)" />

    <node pkg="tf" type="static_transform_publisher" name="ardrone_to_cam_tf" args="0 0 -0.068 0.707107 -0.707106 0 0 /ardrone_base_link /cam 100"/>

	</group>

	<node ns="/" pkg="ar_sys" type="multi_boards" name="ar_multi_boards$(arg uid)" output="screen">
		<remap from="/camera_info" to="$(arg video_namespace)/$(arg video_info_topic)" />
		<remap from="/image" to="$(arg video_namespace)/$(arg video_image_topic)" />
    <param name="publish_tf" type="bool" value="true"/>
		<param name="image_is_rectified" type="bool" value="$(arg video_rectified)"/>
		<param name="boards_config" type="string" value="$(arg boards_config)"/>
		<param name="boards_directory" type="string" value="$(arg boards_directory)"/>
		<param name="draw_markers" type="bool" value="$(arg result_draw_markers)" />
		<param name="draw_markers_cube" type="bool" value="$(arg result_draw_markers_cube)" />
		<param name="draw_markers_axis" type="bool" value="$(arg result_draw_markers_axis)" />
	</node>

	<node ns="/" pkg="topic_tools" type="relay" name="ar_single_board_relay$(arg uid)" args="/ar_single_board$(arg uid)/transform /arsys_single_board/transform" />

	<group if="$(arg result_display)">
		<node ns="/" pkg="image_view" type="image_view" name="image_view$(arg uid)" output="screen">
			<remap from="image" to="/ar_single_board$(arg uid)/result" />

			<param name="autosize" type="bool" value="$(arg result_autosize)" />
		</node>
	</group>

</launch>
