<?xml version="1.0" encoding="utf-8"?>

<launch>
	<arg name="camera_enable" default="true"/>
	<arg name="result_display" default="true"/>
	<arg name="result_autosize" default="false"/>
	<arg name="result_draw_markers" default="false" />
	<arg name="result_draw_markers_cube" default="false" />
	<arg name="result_draw_markers_axis" default="false" />

  <arg name="uid" default="0"/>
  <arg name="video_namespace" default="/vrmagic/left"/>
	<arg name="video_image_topic" default="image_rect"/>
	<arg name="video_info_topic" default="camera_info"/>
	<arg name="video_rectified" default="true" />

  <arg name="boards_config" default="$(find tud_calibration)/markers/aruco/boards_main_cam.yml" />
  <arg name="boards_directory" default="$(find tud_calibration)/markers/aruco/boards" />

  <!-- stereo camera nodes -->
  <node name="vrmagic" pkg="vrmagic_camera" type="vrmagic_camera_node" output="screen">
    <param name="enable_logging" value="false" />
    <param name="left/port" value="1" />
    <param name="right/port" value="2" />
  </node>

  <!-- we are only interested on the left camera since it is the optical frame of the stereo_camera-->
  <node ns="/vrmagic/left" pkg="image_proc" type="image_proc" name="image_proc$(arg uid)" />


	<node ns="/" pkg="ar_sys" type="multi_boards" name="ar_multi_boards$(arg uid)" output="screen">
		<remap from="/camera_info" to="$(arg video_namespace)/$(arg video_info_topic)" />
		<remap from="/image" to="$(arg video_namespace)/$(arg video_image_topic)" />
    <param name="publish_tf" type="bool" value="true"/>
		<param name="image_is_rectified" type="bool" value="$(arg video_rectified)"/>
		<param name="boards_config" type="string" value="$(arg boards_config)"/>
		<param name="boards_directory" type="string" value="$(arg boards_directory)"/>
		<param name="draw_markers" type="bool" value="$(arg result_draw_markers)" />
		<param name="draw_markers_cube" type="bool" value="$(arg result_draw_markers_cube)" />
		<param name="draw_markers_axis" type="bool" value="$(arg result_draw_markers_axis)" />
	</node>

</launch>
